{% extends "base.html" %}

{% block content %}

<div class="tokens">
    <h3>Corporation Overview</h3>
    <dl>
        <dt>Tax Data fields:</dt>
        <dl>
            <dt>CEO ID</dt><dd>Automatically updated through ESI, the CEO character always receives ingame tax report evemails.</dd>
            <dt>Owner ID</dt><dd>Optional main contact character in case it is different from the ingame CEO, like with alt or holding corps/characters. If set this character will also receive ingame tax report evemails.</dd>
        <dt>Alt Corp</dt><dd>Whether or not the corp is an alt corp for someone</dd>
        <dt>Tax Balance</dt>
            <dd>If negative: The total tax the corp still owes Brave</dd>
            <dd>If positive: The amount by which the corporation still has overpaid it's tax</dd>
        </dl>
    </dl>

    <table class="list">
        {% for alliance_id in alliance_ids %}
            <thead>
                <tr>
                    <th colspan="13">
                        {% if loop.index > 1 %}<br>{% endif %}
                        <h4>
                            {% if alliance_id %}
                                Corporations in Alliance
                                <a href="https://evewho.com/alliance/{{ alliance_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ alliance_id }}</a>
                            {% else %}
                                Other Corporations
                            {% endif %}
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">WANT</th>
                    <th colspan="4">CONFIGURED</th>
                    <th colspan="3">AVAILABLE (valid tokens only)</th>
                    <th colspan="4">TAX DATA</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Name</td>

                    <td>Character ID</td>
                    <td>Last Journal Date</td>
                    <td>Active</td>

                    <td>Character ID</td>
                    <td>Character Name</td>
                    <td>Last Checked</td>
                    <td title="CONFIGURED character ID matches one of the AVAILABLE IDs">Action</td>

                    <td>CEO ID</td>
                    <td>Owner ID</td>
                    <td>Alt Corp?</td>
                    <td>Tax Balance</td>
                </tr>
            </thead>
            <tbody>
                {% for corp_id, corp in corporations.items() %}
                    {% if corp.want and corp.alliance_id == alliance_id%}
                    {% set tokens = corp.tokens %}
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corp_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corp_id }}</a>
                        </td>
                        <td>{{ corp.corporation_name }}</td>

                        <td>
                            {% if corp.character_id %}
                                <a href="https://evewho.com/character/{{ corp.character_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ corp.character_id }}</a>
                            {% endif %}
                        </td>
                        <td>{% if corp.last_journal_date %}{{ corp.last_journal_date }}{% endif %}</td>
                        <td class="centre_cb">
                            {% if corp.active %}
                                <input type="checkbox" onchange="deactivate({{ corp_id }})" checked>
                            {% elif corp.character_id %}
                                <input type="checkbox" onchange="activate({{ corp_id }})">
                            {% endif %}
                        </td>

                        <td>{% for token in tokens %}{{ token.characterId }}<br>{% endfor %}</td>
                        <td>{% for token in tokens %}{{ token.characterName }}<br>{% endfor %}</td>
                        <td>
                            {% for token in tokens %}
                                {% if token.lastChecked %}
                                    {{ token.lastChecked.replace('T', ' ').replace('Z', '') }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </td>

                        <td>
                            {% for token in tokens %}
                                {% if corp.character_id == token.characterId %}
                                    {% if not corp.active %}
                                        <form method="post" action="/tokens/activate">
                                            <input type="hidden" name="corporation_id" value="{{ corp_id }}">
                                            <input type="submit" value="activate" onclick="showWaitBlock()">
                                        </form>
                                    {% else %}
                                        Active
                                    {% endif %}
                                {% else %}
                                    <form method="post" action="/tokens/add">
                                        <input type="hidden" name="corporation_id" value="{{ corp_id }}">
                                        <input type="hidden" name="corporation_name" value="{{ corp.corporation_name }}">
                                        <input type="hidden" name="character_id" value="{{ token.characterId }}">
                                        <input type="submit" value="Select" onclick="showWaitBlock()">
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ corp.corporation_ceo_id }}</td>
                        <td>{{ corp.corporation_owner_id }}</td>
                        <td class="centre_cb">
                            {% if corp.is_alt_corp %}
                                <input type="checkbox" onchange="unsetAltCorp({{ corp_id }})" checked>
                            {% else %}
                                <input type="checkbox" onchange="setAltCorp({{ corp_id }})">
                            {% endif %}
                        </td>
                        <td>
                            {% if corp.brave_tax_balance %}
                                {{ "{:,} ISK".format(corp.brave_tax_balance) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <br>
    <h3>Configured API key, Active, Missing Token</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for corp_id, corporation in corporations.items() if corporation.character_id and corporation.active %}
            {% if not has_token(corp_id, corporation.character_id) %}
                <tbody>
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corp_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corp_id }}</a>
                        </td>
                        <td>{{ corporation.corporation_name }}</td>
                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                        <td>
                            <form method="post" action="/tokens/deactivate">
                                <input type="hidden" name="corporation_id" value="{{ corp_id }}">
                                <input type="submit" value="deactivate" onclick="showWaitBlock()">
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <h3>Configured API key, Active, Don't Want</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for corp_id, corporation in corporations.items() if corporation.character_id and corporation.active and not corporation.want %}
            <tbody>
                <tr>
                    <td>
                        <a href="https://evewho.com/corporation/{{ corp_id }}" target="_blank"
                            rel="noopener noreferrer" title="EveWho">{{ corp_id }}</a>
                    </td>
                    <td>{{ corporation.corporation_name }}</td>
                    <td>
                        <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                            rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                    </td>
                    <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                    <td>
                        <form method="post" action="/tokens/deactivate">
                            <input type="hidden" name="corporation_id" value="{{ corp_id }}">
                            <input type="submit" value="deactivate" onclick="showWaitBlock()">
                        </form>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

</div>

<script type="text/javascript">
    function activate(corporation_id) {
        const formData = new FormData()
        formData.append("corporation_id", corporation_id);
        showWaitBlock();
        fetch(`/tokens/activate`, { 
            method: 'POST', redirect: 'follow', body: formData, 
        }).then(response => {
            location.reload()
            // could update page with javascript instead of reload
            // would be much faster / smoother for user, dont need waitblock
        });
    }
    function deactivate(corporation_id) {
        const formData = new FormData()
        formData.append("corporation_id", corporation_id);
        showWaitBlock();
        fetch(`/tokens/deactivate`, { 
            method: 'POST', redirect: 'follow', body: formData, 
        }).then(response => {
            location.reload()
            // could update page with javascript instead of reload
            // would be much faster / smoother for user, dont need waitblock
        });
    }
    function setAltCorp(corporation_id) {
        const formData = new FormData()
        formData.append("corporation_id", corporation_id);
        showWaitBlock();
        fetch(`/tokens/set_alt_corp`, { 
            method: 'POST', redirect: 'follow', body: formData, 
        }).then(response => {
            location.reload()
            // could update page with javascript instead of reload
            // would be much faster / smoother for user, dont need waitblock
        });
    }
    function unsetAltCorp(corporation_id) {
        const formData = new FormData()
        formData.append("corporation_id", corporation_id);
        showWaitBlock();
        fetch(`/tokens/unset_alt_corp`, { 
            method: 'POST', redirect: 'follow', body: formData, 
        }).then(response => {
            location.reload()
            // could update page with javascript instead of reload
            // would be much faster / smoother for user, dont need waitblock
        });
    }
</script>

{% endblock %}
