{% extends "base.html" %}

{% block content %}

<div class="tokens">
    <h3>Corporation Overview</h3>
    <dl>
        <dt>Token columns:</dt>
        <dt>Last Journal</dt><dd>The last time the wallet data for this corporation was successfully updated. Wallet data can only be updated with a configured, still valid, active key. </dd>
        <dd>You can force a wallet data update here, This may take several minutes: <span id="wallet_status"><input type="submit" value="Update All Corp Wallets" onclick=updateWallets()></span></dd>
        <dt>Active</dt><dd>Controls wallet journal updates, if disabled the corporations wallets will not be tracked. Tax reports require wallet data, if disabled the corp will also stop receiving tax reports.</dd>
    </dl>
    <dl>
        <dt>Tax Data columns:</dt>
        <dl>
            <dt>CEO</dt>
                <dd>Automatically updated through ESI for new corporations, the CEO character always receives ingame tax report evemails.</dd>
                <dd>You can update all CEOs here, but this may take a minute: <span id="ceo_status"><input type="submit" value="Update All CEOs" onclick=updateCEOS()></span></dd>
            <dt>Owner</dt><dd>Optional main contact character in case it is different from the ingame CEO, like with alt or holding corps/characters. If set this character will also receive ingame tax report evemails.</dd>
            <dt>Edit Owner</dt><dd>Edit this to update optional owner of the corp, value should be a character name. Owner column will update if successful, check the result there.</dd>
        <dt>Alt Corp</dt><dd>Whether or not the corp is an alt corp for someone, this affects which tax rules are applied. You can toggle the checkbox to update. [might change to a corp type selection in future if we need more options (main, alt, anti coup, hauler, holding, executor w/e)]</dd>
        <dt>Taxed</dt><dd>Controls if tax is applied to the corporation. If enabled the corp gets tax balance updates and the ceo / owner receives ingame tax report evemails</dd>
        <dt>Tax Balance</dt>
            <dd>If negative: The total tax the corp still owes Brave</dd>
            <dd>If positive: The amount by which the corporation still has overpaid it's tax</dd>
        </dl>
    </dl>
    <span id="test_mail_span">
        Finance Test Mail - 
        Sender ID: <input id="sender_id" type="number" value=0>
        Receiver ID: <input id="receiver_id" type="number" value=0>
        
        <span id="test_mail_button_span">
            <input type="submit" value="Send Test Mail" onclick=testMail()>
        </span>
    </span><br><br>

    <table class="list">
        {% for alliance_id in alliance_ids %}
            <thead>
                <tr>
                    <th colspan="14">
                        {% if loop.index > 1 %}<br>{% endif %}
                        <h4>
                            {% if alliance_id %}
                                Corporations in Alliance
                                <a href="https://evewho.com/alliance/{{ alliance_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ alliance_id }}</a>
                            {% else %}
                                Other Corporations
                            {% endif %}
                        </h4>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">WANT</th>
                    <th colspan="3">CONFIGURED</th>
                    <th colspan="3">AVAILABLE (valid tokens only)</th>
                    <th colspan="6">TAX DATA</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Name</td>

                    <td>Character ID</td>
                    <td>Last Journal Date</td>
                    <td>Active</td>

                    <td>Character ID</td>
                    <td>Last Checked</td>
                    <td>Action</td>

                    <td>CEO</td>
                    <td>Owner</td>
                    <td>Edit Owner</td>
                    <td>Alt Corp?</td>
                    <td>Taxed?</td>
                    <td>Tax Balance</td>
                </tr>
            </thead>
            <tbody>
                {% for corp_id, corp in corporations.items() %}
                    {% if corp.want and corp.alliance_id == alliance_id%}
                    {% set tokens = corp.tokens %}
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corp_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corp_id }}</a>
                        </td>
                        <td>{{ corp.corporation_name }}</td>

                        <td>
                            {% if corp.character_id %}
                                <a href="https://evewho.com/character/{{ corp.character_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ corp.character_id }}</a>
                            {% endif %}
                        </td>
                        <td>{% if corp.last_journal_date %}{{ corp.last_journal_date }}{% endif %}</td>
                        <td class="centre_cb">
                            {% if corp.active %}
                                <input type="checkbox" onchange="setCorpAttr({{ corp_id }}, 'active', 0)" checked>
                            {% elif corp.character_id %}
                                <input type="checkbox" onchange="setCorpAttr({{ corp_id }}, 'active', 1)">
                            {% endif %}
                        </td>

                        <td>
                            {% for token in tokens %}
                                <a href="https://evewho.com/character/{{ corp.character_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ token.characterId }}</a><br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for token in tokens %}
                                {% if token.lastChecked %}
                                    {{ token.lastChecked.replace('T', ' ').replace('Z', '') }}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </td>

                        <td>
                            {% for token in tokens %}
                                {% if corp.character_id == token.characterId %}
                                    {% if not corp.active %}
                                        <input type="submit" value="activate" onclick="setCorpAttr({{ corp_id}}, 'active', 1)">
                                    {% else %}
                                        Active
                                    {% endif %}
                                {% else %}
                                    <input type="submit" value="select" onclick="setCorpAttr({{ corp_id}}, 'character_id', {{ token.characterId }})">
                                {% endif %}
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="https://evewho.com/character/{{ corp.corporation_ceo_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ corp.corporation_ceo_name }}</a>
                        </td>
                        <td>
                            <a href="https://evewho.com/character/{{ corp.corporation_owner_id }}" target="_blank"
                                   rel="noopener noreferrer" title="EveWho">{{ corp.corporation_owner_name }}</a>
                        </td>
                        <td>
                            <input type="text" value="{{ corp.corporation_owner_name }}" min="0" onchange="setCorpAttr({{ corp_id }}, 'corporation_owner_name', this.value)">
                        </td>
                        <td class="centre_cb">
                            {% if corp.is_alt_corp %}
                                <input type="checkbox" onchange="setCorpAttr({{ corp_id }}, 'is_alt_corp', 0)" checked>
                            {% else %}
                                <input type="checkbox" onchange="setCorpAttr({{ corp_id }}, 'is_alt_corp', 1)">
                            {% endif %}
                        </td>
                        <td class="centre_cb">
                            {% if corp.is_taxed %}
                                <input type="checkbox" onchange="setCorpAttr({{ corp_id }}, 'is_taxed', 0)" checked>
                            {% else %}
                                <input type="checkbox" onchange="setCorpAttr({{ corp_id }}, 'is_taxed', 1)">
                            {% endif %}
                        </td>
                        <td>
                            {% if corp.brave_tax_balance %}
                                {{ "{:,} ISK".format(corp.brave_tax_balance) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <br>
    <h3>Configured API key, Active, Missing Token</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for corp_id, corporation in corporations.items() if corporation.character_id and corporation.active %}
            {% if not has_token(corp_id, corporation.character_id) %}
                <tbody>
                    <tr>
                        <td>
                            <a href="https://evewho.com/corporation/{{ corp_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corp_id }}</a>
                        </td>
                        <td>{{ corporation.corporation_name }}</td>
                        <td>
                            <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                               rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                        </td>
                        <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                        <td>
                            <form method="post" action="/tokens/deactivate">
                                <input type="hidden" name="corporation_id" value="{{ corp_id }}">
                                <input type="submit" value="deactivate" onclick="showWaitBlock()">
                            </form>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>

    <br>
    <h3>Configured API key, Active, Don't Want</h3>
    <table class="list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Character ID</th>
                <th>Last Journal Date</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for corp_id, corporation in corporations.items() if corporation.character_id and corporation.active and not corporation.want %}
            <tbody>
                <tr>
                    <td>
                        <a href="https://evewho.com/corporation/{{ corp_id }}" target="_blank"
                            rel="noopener noreferrer" title="EveWho">{{ corp_id }}</a>
                    </td>
                    <td>{{ corporation.corporation_name }}</td>
                    <td>
                        <a href="https://evewho.com/character/{{ corporation.character_id }}" target="_blank"
                            rel="noopener noreferrer" title="EveWho">{{ corporation.character_id }}</a>
                    </td>
                    <td>{% if corporation.last_journal_date %}{{ corporation.last_journal_date }}{% endif %}</td>
                    <td>
                        <form method="post" action="/tokens/deactivate">
                            <input type="hidden" name="corporation_id" value="{{ corp_id }}">
                            <input type="submit" value="deactivate" onclick="showWaitBlock()">
                        </form>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

</div>

<script type="text/javascript">
    function setCorpAttr(corporation_id, attribute_name, attribute_value) {
        const formData = new FormData();
        formData.append("corporation_id", corporation_id);
        formData.append("attribute_name", attribute_name);
        formData.append("attribute_value", attribute_value);
        showWaitBlock();
        fetch(`/tokens/set_corp_attr`, { 
            method: 'POST', redirect: 'follow', body: formData, 
        }).then(response => {
            location.reload();
            // could update page with javascript instead of reload
            // would be much faster / smoother for user, dont need waitblock
        });
    }

    function updateWallets() {
        const formData = new FormData();
        const ceo_status_span = document.getElementById("wallet_status");
        var start = new Date();
        ceo_status_span.innerHTML = "Updating...";
        fetch(`/tokens/update_wallets`, { 
            method: 'POST', redirect: "follow", body: formData, 
        }).then(response => {
            var took = Math.round((new Date() - start)/1000);
            ceo_status_span.innerHTML = '<input type="submit" value="Update All Wallets" onclick=updateWallets()> Finished (' + took + 's), reload page to see results.';
            // could update page with javascript instead of reload
            // location.reload();
        });
    }

    function updateCEOS() {
        const formData = new FormData();
        const ceo_status_span = document.getElementById("ceo_status");
        var start = new Date();
        ceo_status_span.innerHTML = "Updating...";
        fetch(`/tokens/update_ceos`, { 
            method: 'POST', redirect: "follow", body: formData, 
        }).then(response => {
            var took = Math.round((new Date() - start)/1000);
            ceo_status_span.innerHTML = '<input type="submit" value="Update All CEOs" onclick=updateCEOS()> Finished (' + took + 's), reload page to see results.';
            // could update page with javascript instead of reload
            // location.reload();
        });
    }

    function testMail() {
        const formData = new FormData();
        const test_mail_button_span = document.getElementById("test_mail_button_span");
        var receiver_id = document.getElementById("receiver_id").value;
        var sender_id = document.getElementById("sender_id").value;
        var m_start = new Date();
        formData.append("receiver_id", receiver_id);
        formData.append("sender_id", sender_id);
        test_mail_span.innerHTML = 'Sending...';
        fetch(`/tokens/test_mail`, { 
            method: 'POST', redirect: "follow", body: formData, 
        }).then(response => {
            var took = Math.round((new Date() - start)/1000);
            test_mail_button_span.innerHTML = '<input type="submit" value="Send Test Mail" onclick="testMail()">' + ' Sent (' + took + 's)';
        });
    }
</script>

{% endblock %}
